extends layout 

block content
    h2 #{title}
    form(method='POST', action='/users/add')
        .form
            label First Name: 
            input(name='firstName', type='text')
            label Last name: 
            input(name='lastName', type='text')
        input(type='submit', value='Verstuur')
            
