doctype html
html(lang='nl')
    head
        meta(charset='utf-8')
        title Article
    body
        h1 #{id}
        h3 #{plot}
        p #{description}
        br
        form(action = '', method = '')
            button(type="submit") Edit
        br
        form(action = '', method = '')
            button(type="submit") Delete

        
        