doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Form Tester
    body
        form(action = '/article', method = 'POST')
            div
                label(for="title") Title:
                input(name="title")
            br
            div
                label(for="plot") Plot (short):
                    input(name="plot")
            br
            div 
                label(for="description") Description (long):
                textarea(name="description" rows=5)
            br
            button(type="submit") Add