doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Form Tester
    body
        form(action = '/user', method = 'POST')
            div
                label(for="firstName") first name: 
                input(name="firstName")
            br
            div
                label(for="lastName") last name: 
                    input(name="lastName")
            br
            button(type="submit") Add