doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Matches
        style
            include ../public/css/style.css
    body
        header
            include includes/header.pug
        main
            h1 Jouw matches
            if errors
                each error, i in errors
                    div(class='alerts') #{error.msg}            
            block content
        footer
            include includes/footer.pug
