doctype html
html(lang='nl')
    head
        meta(charset='utf-8')
        title Ontdekken
        style
            include ../public/css/style.css
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    body
        header
            include includes/header.pug
        
        main
            section
                h1 Ontdekken  
                section
                    block content
        
        footer
            include includes/footer.pug